* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: #e9e9e9;
}

.container {
    width: 360px;
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    margin: auto;
}

h1 {
    margin: 128px 0 0 30px;
    font-size: 32px;
    color: #000000;
    font-weight: 500;
    
    
}

h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 12px 50px 70px 30px;
    

}

input {
    display: block;
    background-color: #F2F2F7;
    width: 360px;
    border-radius: 6px;
    height: 50px;
    border: none;
    margin: 16px auto;

}


.container-son {
    text-align: right;
    position: relative;
    color: #007AFF;

}






input::placeholder {

    padding-left: 20px;
    color:#929292;
    font-size: 16px;
}

button {
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    color: #FFFFFF;
    width: 360px;
    height: 50px;
    margin: 16px auto;
    display: block;
    font-size: 20px;

}

.sign-up {

    color: rgba(0, 0, 0, 0.51);
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
margin: 150px 0 37px 0;

}

strong {
    color:#007AFF;
}